@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);
--fontfamily1: 'Poppins', sans-serif;
--font-family2: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: var(--Violet);
    background-size: 100%;
    min-width: 375px;
    max-width: 1440px;
    margin: auto;
    align-items: center;
    text-align: center;
}
main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column; 
}

header{
display: flex;
justify-content: start;
width: 100%;
}
.header__logo{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 8rem;
}
.main__image{
    width: 100%;
    margin-top: 3.5rem;
}
.main__title{
    color: white;
    font-family: var(--fontfamily1);
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 0.5rem;
}
.main__container{
    margin-top: 3.5rem;
}
.main__paragraph{
    color: white;
    font-family: var(--font-family2);
    font-weight: 400;
    line-height: 1.5rem;
    margin: 1rem 0 1.5rem;
}
.main__button{
    background-color: white;
    border-radius: 20px;
    border-style: none;
    padding: .8rem 5rem;
    color: var(--Violet);
    font-family: var(--fontfamily1);
    font-size: 0.7em;
    box-shadow: 0 2px 5px 0 rgb(62, 61, 61);
    margin-bottom: rem;
}
.main__button:hover{
    background-color: var(--Soft-Magenta);
}
.icons{
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: .5rem;
   margin: 2em auto;
}

.icons i{
    border: 1px solid white;
    border-radius: 50px;
    padding: 0.5em;
    height: 28px;
    width: 28px;
    color: white;
}

.footer{
    margin-top: 4rem;
}
.icons i:hover{
    color: var(--Soft-Magenta);
    border-color: var(--Soft-Magenta);
}


@media  screen and (min-width: 768px){
    body{
        background-image: url("../images/bg-desktop.svg");
        
    }
    .header__logo{
        width: 14rem;
        margin-top: 3.5rem;
        margin-left: 4rem;
        margin-bottom: 100px;
    }
    main{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 80% 20%;
        align-items: center;

    }
.main__image{
    width: 44.5rem;
    margin-top: 2rem;
    margin-left: -4.5rem;

}
.main__container{
    text-align: start;
}

.main__title{
    width: 30rem;
    margin-left: -7rem;
    font-size: 2.3rem;
    line-height: 4rem;
    margin-top: -9rem;
}
.main__paragraph{
    margin-top: 1rem;
    margin-left: -7rem;
    line-height: 1.5rem;
}
.main__button{
    margin-left: -7rem;
    padding:  0.8rem 4rem;
    font-size: 1rem;
    border-radius: 2rem;

}
.footer{
  width: 10rem;
  display: flex;
  margin-top: -4rem;
  margin-left: 75rem;
}

.icons{
    gap: 1em;
}

.icons i{
    height: 40px;
    width: 40px;
}
}